<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinksns.jkfs"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.ThinkSNSApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thinksns.jkfs.ui.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thinksns.jkfs.ui.MainFragmentActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name="com.thinksns.jkfs.ui.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.thinksns.jkfs.ui.RegistActivity"
            android:label="@string/title_activity_regist" >
        </activity>
        <activity android:name=".ui.WriteWeiboActivity" >
        </activity>
        <activity android:name=".ui.WeiboDetailActivity" >
        </activity>
        <activity android:name=".ui.RepostActivity" >
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101073421" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OtherInfoActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.thinksns.jkfs" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.UserInfoActivity" >
        </activity>
        <activity android:name=".ui.ChangeUserInfo" >
        </activity>
        <activity android:name=".ui.UserInfoWeiboList" >
        </activity>
        <activity android:name=".ui.UserInfoFanList" >
        </activity>
        <activity android:name=".ui.UserInfoFollowList" >
        </activity>
        <activity android:name=".ui.AtUserActivity" >
        </activity>
        <activity android:name=".ui.SettingActivity" >
        </activity>
        <activity android:name=".ui.AboutUsActivity" >
        </activity>
        <activity android:name=".test.TestActivity" />
        <activity android:name=".ui.ChatActivity" />
        <activity android:name=".ui.SearchActivity" />

        <service android:name=".util.GetMsgService" />

        <receiver
            android:name=".ui.MainFragmentActivity$NewMsgReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.thinksns.jkfs.unread_msg" />
            </intent-filter>
        </receiver>
    </application>

</manifest>